{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
<meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
  {% block css %}
	<link rel="stylesheet" href="{% static "formStyle.css" %}">
  {% endblock %}
	<title>Youttify</title>
</head>

<body>


			<div class="signup_header">
                <a href="" target="_blank">
				
                    </a>
            </div>
        </a>
        <div class="center-align">
            <h1>
                To access this website you need to log in or sign up!
            </h1>
            
        </div>
        <div class="signup_body" >
                {% csrf_token %}
                <div class="center-align">
                    
            <a class='btn btn_log_in' href="/login">Login</a>
                </div>
                <div class="divider"></div>
                <p class='label center-align'>Don't have an account?</p>
            <a class='btn btn_sign_up' href="/signup">Sign Up for Lushlyrics</a>
        </div>

        <!-- <div class="signin_body">

        </div> -->

    </body>
</body>

</html>